langchain
langchain-community
langchain-text-splitters
langgraph
langchain-groq
groq
faiss-cpu
fastembed
pdfplumber
pytesseract
Pillow
streamlit
fastapi
uvicorn
python-dotenv
pydantic
requests
reportlab
plotly
pandas
pytest